<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongdu.dao.BlogTypeDao">

	<resultMap type="BlogType" id="BlogTypeResult">
		<result property="id" column="id"/>
		<result property="typeName" column="typeName"/>
		<result property="orderNumber" column="orderNumber"/>
	</resultMap>
	
	<select id="countList" resultMap="BlogTypeResult">
		<!-- select id,typeName,orderNumber from t_blogType order by orderNumber ; -->
		SELECT 
			t2.id,
			t2.typeName,
			COUNT(t1.id) AS blogCount  
		FROM t_blog t1 RIGHT JOIN t_blogtype t2 
		ON t1.typeId=t2.id GROUP BY t2.typeName ORDER BY t2.orderNumber;
	</select>
	<!-- 取值小计：https://www.cnblogs.com/cztisthebest/p/6216746.html -->
	<select id="findById" parameterType="Integer" resultMap="BlogTypeResult">
		select id,typeName,orderNumber from t_blogType where id = #{id}
	</select> 
	
	
	
</mapper> 